<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>智慧社区 | 理想杯</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/welcome.css') }}" media="screen" type="text/css" />
</head>
<body>
  <canvas id="text" width="800" height="100"></canvas>
  <canvas id="stage" width="800" height="100"></canvas>
  <script src="{{ url_for('static', filename='plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/wel/EasePack.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/wel/TweenLite.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/wel/easeljs-0.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/wel/requestAnimationFrame.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/wel/index.js') }}"></script>
</body>
</html>